<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
</head>
<body>

    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <form method="POST">
                    <div class='form-group row'>
                        {% csrf_token %}
                        <label class='col-md-3'>
                            <h4>Select Food to Add</h4>
                        </label><br>
                        <select class='col-md-6 form-control' name="food_consumed" id="food_consumed">
                            {% for food in foods %}
                                <option value="{{food.name}}">{{food.name}}</option>
                            {% endfor %}
                        </select>
                        <br><button class='btn btn-success' type='submit'>Add</button>
                    </div>
                </form>
            </div>
        </div><br>
        <div class='row'>
            <div class='col-md-6'>
                <div>
                    <h4>Today's Consumption</h4>
                </div>

                <table id='table' class='table table-striped table-primary'>
                    <tr>
                        <th>Food item</th>
                        <th>Weight(gm)</th>
                        <th>Carbs(gm)</th>
                        <th>Protein(gm)</th>
                        <th>Fats(gm)</th>
                        <th>Calories(Kcal)</th>
                        
                    </tr>
                    {% for c in consumed_food %}
                        <tr>
                            <td>{{c.food_consumed.name}}</td>
                            <td>{{c.food_consumed.weight}}</td>
                            <td>{{c.food_consumed.carbs}}</td>
                            <td>{{c.food_consumed.protein}}</td>
                            <td>{{c.food_consumed.fats}} </td>
                            <td>{{c.food_consumed.calories}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td id='total'><b>Total</b></td>
                        <td id='totalWeight'><b></b></td>
                        <td id='totalCarbs'><b></b></td>
                        <td id='totalProtein'><b></b></td>
                        <td id='totalFats'><b></b></td>
                        <td id='totalCalories'><b></b></td>
                    </tr>   
                    
                </table>

            </div>
            <div class='col-md-5 offset-1'>

            </div>
        </div>

    </div>
    

    

    
</body>
<script>
    var table = document.getElementById('table');
    var carbs = 0, protein = 0, fats = 0, calories = 0;

    for (var i = 1; i<table.rows.length-1; i++){
        
        carbs += parseFloat(table.rows[i].cells[2].innerHTML);

        protein += parseFloat(table.rows[i].cells[3].innerHTML);

        fats += parseFloat(table.rows[i].cells[4].innerHTML);

        calories += parseFloat(table.rows[i].cells[5].innerHTML);

    }

    document.getElementById('totalCarbs').innerHTML = Math.round(carbs);
    document.getElementById('totalProtein').innerHTML = Math.round(protein);
    document.getElementById('totalFats').innerHTML = Math.round(fats);
    document.getElementById('totalCalories').innerHTML = Math.round(calories);
    
</script>
</html>